<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome, <%= username %>!</h1>
    <a href="/users/logout">Logout</a> |
    <a href="/users/logout-all">Logout from All Devices</a>
  </body>
</html>
